<div>
  <!-- Imagem de <a href="https://pixabay.com/pt/users/janeb13-725943/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1185626">Welcome to all and thank you for your visit ! ツ</a> por <a href="https://pixabay.com/pt/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1185626">Pixabay</a> -->
  <app-banner></app-banner>

  <section class="info-box">
    <h2 class="info-title">Nossos Números</h2>

    <div class="info-container">
      <div class="box">
        <h3 class="title">Total</h3>
        <p class="info">758 cursos</p>
      </div>

      <div class="box">
        <h3 class="title">Adicionados hoje</h3>
        <p class="info">25 cursos</p>
      </div>
    </div>
  </section>

  <app-posts id="posts" label="Postagens Recentes" [posts]="posts"></app-posts>
</div>
