.back {
  background-color: rgb(243, 243, 243);
  padding: 50px 0;
}

.light {
  padding: 50px 5px;
}

.post-presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.box-post {
  display: flex;
}

.box-image {
  width: 320px;
  height: 180px;
}

.box-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 19px 0px rgba(230, 230, 230, 1);
  -moz-box-shadow: 0px 2px 19px 0px rgba(230, 230, 230, 1);
  box-shadow: 0px 2px 19px 0px rgba(230, 230, 230, 1);
}

.box-info-post {
  padding: 0 15px;
}

.post-name {
  font-size: 2em;
  color: rgba(45, 45, 45, 0.8);
  font-weight: 700;
}

.post-view {
  font-size: 0.875em;
  color: rgb(31, 31, 31);
}

.buttons-related {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.button-buy, .button-free {
  width: 350px;
  height: 50px;
  border-radius: 12px;
  border: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-buy {
  background-color: rgb(20, 20, 150);
  margin-bottom: 8px;
}

.button-free {
  background-color: rgb(60, 60, 201);
}

.dest-color {
  font-weight: 700;
  margin-left: 3px;
}

/* Links  */

.box-links {
  padding: 50px 0;
}

.link-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  font-weight: 700;
  color: rgba(45, 45, 45, 0.8);
}

.links {
  display: flex;
  flex-direction: column;
}

.link-text {
  margin-bottom: 5px;
  font-size: 1em;
  color: rgba(10, 10, 10, 0.9);
}

.link-title a {
  color: rgb(20, 2, 121);
}

@media only screen and (max-width: 420px) {
  .post-presentation {
    flex-direction: column;
  }
  .box-post {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .box-image {
    width: 100%;
    height: 210px;
  }
  .post-name {
    font-size: 1.475em;
  }
  .link-title {
    font-size: 1.275em;
  }
}
