<div class="back">
  <section class="post-presentation container">
    <div class="box-post">
      <div class="box-image">
        <img src="{{ apiService.url }}/images/{{post.image}}" alt="{{ post.title }}" />
      </div>
      <div class="box-info-post">
        <h1 class="post-name">{{ post.title }}</h1>
        <p class="post-view">Visualizações(70)</p>
        <p class="post-like">Gostei(150)</p>
      </div>
    </div>

    <div class="buttons-related">
      <button class="button-buy">
        Cursos Recomendados <span class="dest-color">(Comprar)</span>
      </button>
      <button class="button-free">
        Cursos Recomendados <span class="dest-color">(Grátis)</span>
      </button>
    </div>
  </section>
</div>

<div class="light">
  <section class="container">
    <h2 class="link-title">Links para Download:</h2>
    <div class="links">
      <p class="link-text" *ngFor="let link of post.links; let i = index">
        Download parte (1):
        <a href="{{ link.originalLink }}" target="_blank">{{ link.originalLink  }}</a>
      </p>
    </div>
  </section>
</div>


