.top {
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  /* padding-bottom: 50px; */
}

.header {
  /* border-bottom: 1px solid rgba(17,17,17,0.2); */
  background-color: #fff;
}

.box-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.box-logo {
  margin: 0 10px;
}

/* .box-logo a {
  font-size: 1.6em;
  font-weight: 900;
  line-height: 22px;
  color: #540EAD;
} */

.box-menu {
  margin: 0 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu li {
  padding: 20px 15px;
}

.menu li:hover {
  background-color: #e0e0e0;
}

.menu li a {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 22px;
  color: #8443D6;
}

.categories {
  width: 100%;
  max-width: 100%;
  padding: 15px 0 5px 0;
  background: linear-gradient(to right, #340570, #540EAD);
}

.box-categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 10px;
}

.box-categories .list-categories {
  display: flex;
  order: 2;
  max-width: 100%;
  overflow-x: auto;
}

.box-categories .list-categories li {
  padding-right: 25px;
}

.box-categories .list-categories li a {
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}

.box-categories .list-categories li a:hover {
  border-bottom: 1px solid #fff;
}

.box-search {
  order: 1;
  margin: 0 10px;
  margin-bottom: 8px;
}
