<div class="box-background">

  <div class="box">
    <h1 class="title">Informe a nova senha</h1>

    <form [formGroup]="form" (ngSubmit)="handlerReset()" class="form-login">
      <div class="box-input">
        <input formControlName="password" type="password" placeholder="Digite a nova senha">
      </div>
      <div class="box-input">
        <input formControlName="confirmPassword" type="password" placeholder="Digite a senha novamente">
      </div>
      <button  class="btn-login">Recuperar</button>
    </form>
  </div>
</div>
