<footer>
  <div class="container footer">
    <div class="newsletter">
      <div class="newsletter-text">
        <p>
          Gostaria de recebe os Novos Cursos Adicionados Diretamente no seu
          E-mail?
        </p>
      </div>
      <div class="newsletter-input">
        <input type="email" name="email" placeholder="Seu E-mail" />
        <button>Quero Receber</button>
      </div>
    </div>
    <div class="link-site">
      <a routerLink="/">www.comunidadeslinks.com.br</a>
    </div>
    <div class="info">
      <p>Compartilhamento de links</p>
    </div>
  </div>
</footer>
