<div class="search">
  <form action="" autocomplete="off">
    <input  [ngClass]="{'on-focus-radius': focus}" (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="word" (ngModelChange)="search()" type="search" id="search" name="search" placeholder="Buscar um Curso" />
    <button class="btn-search" type="submit">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </form>
  <section *ngIf="posts.length > 0" class="result">
    <p class="post-title" *ngFor="let post of posts">
      <a (click)="posts = []" class="post-link" routerLink="/posts/{{post.link}}">{{ post.title }}</a>
    </p>
  </section>
</div>
